MONGODB_URI=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
DB_NAME=


IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL=

# ADMIN SECRET FOR ADMIN REGISTRATION
ADMIN_SECRET=


# Redis 
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=